<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dao.StuInfoMapper">
    <!-- 添加信息-->
    <update id="updateInfo">
        update stu_info
        <set>
            <if test="stutel!=null and stutel!=''">
                stutel=#{stutel},
            </if>
            <if test="examno!=null and examno!=''">
                examno=#{examno},
            </if>
            <if test="idcard!=null and idcard!=''">
                idcard=#{idcard},
            </if>
            <if test="stuaddr!=null and stuaddr!=''">
                stuaddr=#{stuaddr},
            </if>
            <if test="homeaddr!=null and homeaddr!=''">
                homeaddr=#{homeaddr},
            </if>
            <if test="birth!=null">
                birth=#{birth},
            </if>
            <if test="ethnic!=null and ethnic!=''">
                ethnic=#{ethnic}
            </if>
        </set>
        where stuno=#{stuno}
    </update>
<!--添加学生就业信息-->
    <insert id="addEmp">
        insert into stu_employ(stuno,stuname,employno,company,category,employunit,country,city,salary) values (#{stuno},#{stuname},#{employno},#{company},#{category},#{employunit},#{country},#{city},#{salary})
    </insert>
<select id="findStuEmpByName" resultType="com.entity.StuEmp">
    select stuno from stu_employ where stuno=#{stuno}
</select>
    <select id="findStuMasterByName" resultType="com.entity.StuMaster">
        select stuno from stu_master where stuno=#{stuno}
    </select>
    <insert id="addMaster">
        insert into stu_master(stuno,stuname,success,university,area,city)values (#{stuno},#{stuname},#{success},#{university},#{area},#{city})
    </insert>
</mapper>