<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dao.StuInfoMapper">
    <!-- 添加信息-->
    <update id="updateInfo">
        update stu_info
        <set>
            <if test="stutel!=null and stutel!=''">
                stutel=#{stutel},
            </if>
            <if test="examno!=null and examno!=''">
                examno=#{examno},
            </if>
            <if test="idcard!=null and idcard!=''">
                idcard=#{idcard},
            </if>
            <if test="stuaddr!=null and stuaddr!=''">
                stuaddr=#{stuaddr},
            </if>
            <if test="homeaddr!=null and homeaddr!=''">
                homeaddr=#{homeaddr},
            </if>
            <if test="birth!=null">
                birth=#{birth},
            </if>
            <if test="ethnic!=null and ethnic!=''">
                ethnic=#{ethnic},
             </if>
            <if test="status!=null and status!=''">
                    status=#{status}
            </if>
        </set>
        where stuno=#{stuno}
    </update>
    <select id="findStuInfoByName" resultType="com.entity.Student">
        select idcard from stu_info where idcard=#{idcard}
    </select>
<!--添加学生就业信息-->
    <insert id="addEmp">
        insert into stu_employ(stuno,stuname,employno,company,category,employunit,country,province,city,salary,status) values (#{stuno},#{stuname},#{employno},#{company},#{category},#{employunit},#{country},#{province},#{city},#{salary},#{status})
    </insert>
<select id="findStuEmpByName" resultType="com.entity.StuEmp">
    select stuno from stu_employ where stuno=#{stuno}
</select>
    <select id="findStuMasterByName" resultType="com.entity.StuMaster">
        select stuno from stu_master where stuno=#{stuno}
    </select>
    <insert id="addMaster">
        insert into stu_master(stuno,stuname,success,master,university,area,city,status)values (#{stuno},#{stuname},#{success},#{master},#{university},#{area},#{city},#{status})
    </insert>
    <select id="findStuEmpByStuno" resultType="com.entity.StuEmp">
    select * from stu_employ where stuno=#{stuno}
</select>
    <!-- 修改学生就业信息-->
    <update id="updateEditEmp">
        update stu_employ
        <set>
            <if test="employno!=null and employno!=''">
                employno=#{employno},
            </if>
            <if test="company!=null and company!=''">
                company=#{company},
            </if>
            <if test="category!=null and category!=''">
                category=#{category},
            </if>
            <if test="employunit!=null and employunit!=''">
                employunit=#{employunit},
            </if>
            <if test="country!=null and country!=''">
                country=#{country},
            </if>
            <if test="province!=null and province!=''">
                province=#{province},
            </if>
            <if test="city!=null and city!=''">
                city=#{city},
            </if>
            <if test="salary!=null and salary!=''">
                salary=#{salary},
            </if>
            <if test="status!=null and status!=''">
                status=#{status}
            </if>
        </set>
        where stuno=#{stuno}
    </update>
    <select id="findStuMasterByStuno" resultType="com.entity.StuMaster">
    select * from stu_master where stuno=#{stuno}
</select>
    <!-- 修改学生就业信息-->
    <update id="updateEditMaster">
        update stu_master
        <set>
            <if test="success!=null and success!=''">
                success=#{success},
            </if>
            <if test="master!=null and master!=''">
                master=#{master},
            </if>
            <if test="university!=null and university!=''">
                university=#{university},
            </if>
            <if test="area!=null and area!=''">
                area=#{area},
            </if>
            <if test="city!=null and city!=''">
                city=#{city}
            </if>
        </set>
        where stuno=#{stuno}
    </update>
    <select id="findLoginPwdByLoginName" resultType="com.entity.StuUser">
        SELECT * FROM t_user WHERE loginName = #{loginName}
    </select>
    <update id="updateUserPassword">
        update t_user
        <set>
            <if test="loginName!=null and loginName!=''">
                loginName=#{loginName},
            </if>
            <if test="passWord!=null and passWord!=''">
                passWord=#{passWord},
            </if>
            <if test="realName!=null and realName!=''">
                realName=#{realName},
            </if>
            <if test="salt!=null and salt!=''">
                salt=#{salt},
            </if>
        </set>
        where loginName=#{loginName}
    </update>
</mapper>